.detail-country {
  background: #dce4f1;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

@media screen and (max-width: 992px) {
  .top-banner__left>.text>.title {
    font-size: 17px !important;
  }

  .top-banner__left>.text>.text-description {
    font-size: 12px !important;
  }

  .top-banner__right>div:first-child>p {
    font-size: 11px !important;
  }

  .top-banner__left {
    width: 70%;
  }
  .top-banner__right {
    width: 70%;
    padding: 0 0 0 10px !important;
  }

}

@media screen and (max-width: 600px) {
  /* .logo-hop-tac {
    position: absolute;
    bottom: 50px;
  } */
  .logo-hop-tac > img {
    width: 40px !important;
  }
}

@media screen and (max-width: 600px) {
  .timber-transport {
    margin-top: 15px;
  }
}

.content {
  width: 100%;
  position: relative;
  padding: 0 4%;
}

.top-banner {
  height: 150px;
  display: flex;
}

.top-banner__left {
  width: 75%;
  background: #f0c031;
  border-bottom-left-radius: 8px;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.top-banner__left>.text {
  color: white;
}

.top-banner__left>.text>.title {
  font-weight: bold;
  font-size: 28px;
}

.top-banner__left>.text>.text-description {
  font-size: 18px;
  opacity: 0.9;
}

.top-banner__right {
  width: 25%;
  background: #6c6d70;
  border-bottom-right-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 30px 20px 20px 20px;
}

.top-banner__right>div:first-child {
  width: 50%;
}

.top-banner__right>div:first-child>p {
  margin: 0;
  color: white;
  font-weight: 600;
}

.top-banner__right>div:last-child {
  width: 50%;
}

.title-level-1 {
  color: #0a78b4;
  text-transform: uppercase;
  font-weight: bold;
}

.description-level-1 {
  font-size: 14px;
  font-weight: 500;
}

.ul-left-level-2 {
  display: flex;
}

.ul-left-level-2>div:first-child {
  width: 7%;
}

.title-level-2 {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 0;
}

.ul-left-level-2>div:last-child {
  font-size: 14px;
  width: 93%;
}

.timber-transport {
  width: 100%;
  background: #0a78b4;
  border-radius: 10px;
  cursor: pointer;
  padding: 10px 0 10px 10px;
  color: white;
  font-weight: bold;
  font-size: 15px;
  padding-left: 15px;
}

.list-level-2 {
  width: 100%;
  background: #f49e1d;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  margin-top: 15px;
  cursor: pointer;
  display: flex;
  font-size: 12px;
  align-items: center;
  padding: 3px 5px 3px 15px;
}

.collapse_scroll {
  display: flex !important;
  align-items: flex-start;
  margin-top: 10px;
}

.content-collapse {
  margin-left: 10px;
}

.content-collapse-title {
  font-weight: bold;
  margin: 0;
}

.footer {
  color: white;
  background-color: #f0c031;
  margin-top: 20px;
  border-radius: 8px;
  padding: 15px; overflow: hidden;
}

.footer-title {
  font-weight: bold;
}

.logo-hop-tac {
  display: flex;
  justify-content: flex-start;
  margin-top: 30px;
}

.logo-hop-tac>img {
  width: 70px;
}
